M 825 2450 825 2575 -1 1
M 1825 1325 1950 1325 -1 1
M 1825 200 1950 200 -1 1
M 1825 -925 1950 -925 -1 1
L 1945 2570 -2045 2570 -1 0
M -2050 1325 -1925 1325 -1 1
M -175 2450 -175 2575 -1 1
M -2050 200 -1925 200 -1 1
M -1175 2450 -1175 2575 -1 1
M -2050 2575 1950 2575 -1 1
M 1830 2455 -1930 2455 -1 1
M -2050 -925 -1925 -925 -1 1
M 225 -1950 225 -2550 -1 75
M 1275 -2175 1275 -2550 -1 1
M 1825 -2175 225 -2175 -1 75
M 1825 -2350 225 -2350 -1 75
M 825 -2550 825 -2675 -1 1
L 120 -2050 120 -2152 -1 2
L 102 -2128 102 -2065 -1 2
L 21 -2065 102 -2065 -1 2
L 102 -2128 21 -2128 -1 2
L 21 -2128 21 -2065 -1 2
L 27 -2125 102 -2125 -1 2
L 27 -2065 27 -2125 -1 2
L 63 -2065 63 -2128 -1 2
M 1950 -2675 1950 2575 -1 1
M -2050 -2675 -2050 2575 -1 1
M -2050 -2675 1950 -2675 -1 1
L -279 -2143 120 -2143 -1 2
M 1830 2455 1830 -2555 -1 1
M -1930 2455 -1930 -2555 -1 1
M -1930 -2555 1830 -2555 -1 1
M 1825 -1950 -380 -1950 -1 75
M -380 -2545 -380 -1950 -1 75
L -42 -2104 -52 -2104 -1 2
L -42 -2104 -32 -2094 -1 2
L -32 -2094 -42 -2074 -1 2
L -72 -2074 -52 -2104 -1 2
L -42 -2074 -22 -2084 -1 2
L -22 -2084 -2 -2074 -1 2
L -2 -2074 -32 -2114 -1 2
L -32 -2114 -52 -2121 -1 2
L -52 -2121 -62 -2121 -1 2
L -62 -2121 -82 -2104 -1 2
L -135 -2110 -126 -2104 -1 2
L -102 -2064 -72 -2074 -1 2
L -82 -2104 -112 -2104 -1 2
L -174 -2128 -174 -2065 -1 2
L -132 -2114 -112 -2104 -1 2
L -132 -2114 -142 -2104 -1 2
L -132 -2077 -102 -2064 -1 2
L -132 -2094 -132 -2077 -1 2
L -142 -2104 -132 -2094 -1 2
L -213 -2065 -213 -2128 -1 2
L -174 -2065 -255 -2065 -1 2
L -174 -2128 -255 -2128 -1 2
L -255 -2128 -255 -2065 -1 2
L -249 -2125 -174 -2125 -1 2
L -249 -2065 -249 -2125 -1 2
L -79 -2150 81 -2310 -1 8
L -79 -2150 -239 -2310 -1 8
L -79 -2250 41 -2370 -1 8
L -199 -2370 -79 -2250 -1 8
L -279 -2050 121 -2050 -1 2
L -279 -2050 -279 -2150 -1 2
M -175 -2550 -175 -2675 -1 1
M -1175 -2550 -1175 -2675 -1 1
A 6 -2290 20 0.00 359.91 0
A -69 -2215 20 0.00 359.91 0
A -169 -2290 20 0.00 359.91 0
A -239 -2150 358 296.54 0.00 0
A 81 -2150 360 180.00 243.46 0
T 1875 775 0.00 0.00 41 0 0 0 0 1 0
C
T 1875 1900 0.00 0.00 41 0 0 0 0 1 0
D
T 1325 2500 0.00 0.00 41 0 0 0 0 1 0
1
T 300 2500 0.00 0.00 41 0 0 0 0 1 0
2
T 1875 -375 0.00 0.00 41 0 0 0 0 1 0
B
T -675 2500 0.00 0.00 41 0 0 0 0 1 0
3
T -2000 775 0.00 0.00 41 0 0 0 0 1 0
C
T -2000 1900 0.00 0.00 41 0 0 0 0 1 0
D
T -1625 2500 0.00 0.00 41 0 0 0 0 1 0
4
T -2000 -375 0.00 0.00 41 0 0 0 0 1 0
B
T 1875 -1600 0.00 0.00 41 0 0 0 0 1 0
A
T 775 -2041 0.00 0.00 66 0 0 0 0 6 74
U PENN
T 1300 -2225 0.00 0.00 41 0 0 0 0 5 0
DATE:
T 1300 -2425 0.00 0.00 41 0 0 0 0 5 0
PAGE:
T 1325 -2625 0.00 0.00 41 0 0 0 0 1 0
1
T 454 -2138 0.00 0.00 66 0 0 0 0 19 74
HIGH ENERGY PHYSICS
T 260 -2445 0.00 0.00 41 0 0 0 0 9 74
ENGINEER:
T 245 -2230 0.00 0.00 41 0 0 0 0 6 74
TITLE:
T 300 -2625 0.00 0.00 41 0 0 0 0 1 0
2
T -2000 -1600 0.00 0.00 41 0 0 0 0 1 0
A
T -675 -2625 0.00 0.00 41 0 0 0 0 1 0
3
T -1625 -2625 0.00 0.00 41 0 0 0 0 1 0
4
P "COMMENT_BODY" "TRUE" 100 -2650 0.00 0.00 41 0 0 0 0 0 0 0 80
